.vs/ProjectEvaluation/eclipseproject.strings.v10.bin
.vs/ProjectEvaluation/eclipseproject.projects.v10.bin
.vs/ProjectEvaluation/eclipseproject.metadata.v10.bin
.vs/EclipseProject.slnx/v18/DocumentLayout.json
.vs/EclipseProject.slnx/v18/DocumentLayout.backup.json
.vs/EclipseProject.slnx/v18/.suo
.vs/EclipseProject.slnx/v18/.futdcache.v2
.vs/EclipseProject.slnx/FileContentIndex/fdece941-a233-4bcf-b3c0-570f78a9d8d4.vsidx
.vs/EclipseProject.slnx/FileContentIndex/d8d2fa14-3347-4298-8a1d-28609aeef13b.vsidx
.vs/EclipseProject.slnx/FileContentIndex/3474f00e-71cd-46c3-a5a2-57ab5e1cd455.vsidx
.vs/EclipseProject.slnx/FileContentIndex/98f8f531-9aaa-49bd-a8a3-d496cf84fb7c.vsidx
.vs/EclipseProject.slnx/FileContentIndex/5aa2756c-2111-4795-8799-e1fe18ad8006.vsidx
.vs/EclipseProject.slnx/DesignTimeBuild/.dtbcache.v2
.vs/EclipseProject/CopilotIndices/18.0.988.22099/SemanticSymbols.db
.vs/EclipseProject/CopilotIndices/18.0.988.22099/CodeChunks.db
EclipseLCL/obj/EclipseLCL.csproj.nuget.dgspec.json
EclipseLCL/obj/EclipseLCL.csproj.nuget.g.props
EclipseLCL/obj/EclipseLCL.csproj.nuget.g.targets
EclipseLCL/obj/project.assets.json
EclipseLCL/obj/project.nuget.cache
EclipseLCL/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
EclipseLCL/obj/Debug/net8.0/EclipseLCL.AssemblyInfo.cs
EclipseLCL/obj/Debug/net8.0/EclipseLCL.AssemblyInfoInputs.cache
EclipseLCL/obj/Debug/net8.0/EclipseLCL.assets.cache
EclipseLCL/obj/Debug/net8.0/EclipseLCL.csproj.AssemblyReference.cache
EclipseLCL/obj/Debug/net8.0/EclipseLCL.csproj.BuildWithSkipAnalyzers
EclipseLCL/obj/Debug/net8.0/EclipseLCL.csproj.CoreCompileInputs.cache
EclipseLCL/obj/Debug/net8.0/EclipseLCL.csproj.FileListAbsolute.txt
EclipseLCL/obj/Debug/net8.0/EclipseLCL.dll
EclipseLCL/obj/Debug/net8.0/EclipseLCL.GeneratedMSBuildEditorConfig.editorconfig
EclipseLCL/obj/Debug/net8.0/EclipseLCL.GlobalUsings.g.cs
EclipseLCL/obj/Debug/net8.0/EclipseLCL.pdb
EclipseLCL/obj/Debug/net8.0/ref/EclipseLCL.dll
EclipseLCL/obj/Debug/net8.0/refint/EclipseLCL.dll
EclipseProject/obj/Debug/net8.0/refint/EclipseProject.dll
EclipseProject/obj/Debug/net8.0/ref/EclipseProject.dll
EclipseProject/obj/Debug/net8.0/EclipseProject.pdb
EclipseProject/obj/Debug/net8.0/EclipseProject.GlobalUsings.g.cs
EclipseProject/obj/Debug/net8.0/EclipseProject.genruntimeconfig.cache
EclipseProject/obj/Debug/net8.0/EclipseProject.GeneratedMSBuildEditorConfig.editorconfig
EclipseProject/obj/Debug/net8.0/EclipseProject.dll
EclipseProject/obj/Debug/net8.0/EclipseProject.csproj.FileListAbsolute.txt
EclipseProject/obj/Debug/net8.0/EclipseProject.csproj.CoreCompileInputs.cache
EclipseProject/obj/Debug/net8.0/EclipseProject.csproj.BuildWithSkipAnalyzers
EclipseProject/obj/Debug/net8.0/EclipseProject.csproj.AssemblyReference.cache
EclipseProject/obj/Debug/net8.0/EclipseProject.assets.cache
EclipseProject/obj/Debug/net8.0/EclipseProject.AssemblyInfoInputs.cache
EclipseProject/obj/Debug/net8.0/EclipseProject.AssemblyInfo.cs
EclipseProject/obj/Debug/net8.0/EclipseP.9778A117.Up2Date
EclipseProject/obj/Debug/net8.0/apphost.exe
EclipseProject/obj/Debug/net8.0/apphost
EclipseProject/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
EclipseProject/obj/project.nuget.cache
EclipseProject/obj/project.assets.json
EclipseProject/obj/EclipseProject.csproj.nuget.g.targets
EclipseProject/obj/EclipseProject.csproj.nuget.g.props
EclipseProject/obj/EclipseProject.csproj.nuget.dgspec.json
EclipseProject/bin/Debug/net8.0/Storage/ATFieldSecrets.json
